@charset "utf-8";

body {
	background: url("#{request.contextPath}/resources/imagens/body.png");
	-webkit-font-smoothing: antialiased;
	overflow-x:	hidden;
	height: 95%;
}

label {
	font-weight: bold;
}


.header {
    height: 85px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.menu {
	margin-top: 15px;
	margin-bottom: 15px;
}

.breadcrumb {
	height: 50px;
}

.navbar {
    color: #3F3F3F;
    position: relative;
    margin-bottom: 0px;
    min-height: 66px;
    padding-right: 0px;
    padding-left: 20px;
    border-radius: 0px;
    box-shadow: none;
    border-width: medium medium 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #C4C4C4;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: url("#{request.contextPath}/resources/imagens/header.png") repeat scroll 0% 0% transparent;
}


.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -20px;
}

.profile-img {
	width: 64px;
	height: 64px;
	margin: 0px auto 10px;
	display: block;
	border-radius: 50%;
}

.ui-widget {
	font-family: Arial,sans-serif !important;
	font-size: 0.9em !important;
}

.ui-widget .ui-widget{
	font-size: 1.0em !important;
}

.panelgrid tr{
    border: none !important;
    background: none !important;
}

.templatePage .navbar {
	text-align: center;
}

.panelgrid td {
    border: none !important;
    padding: 4px 10px;
}

.icon-grid-margin {
	margin-right: 10px !important;	
}

.column-align-center {
	text-align: center !important;
}

.column-align-left {
	text-align: left !important;
}

.column-align-right {
	text-align: right !important;
}

.column-align-justify {
	text-align: justify !important;
}

/*pick-list*/
.altura-ul-160px ul{
	height: 160px !important;
}

.pick-list td{
	padding: 5px 0px !important;
} 

/*fieldset*/
legend {
	padding: 0.4em 0.4em !important;
	border: none !important;
	background: none !important;
}

/* select-box */
.tempo-simulacao {
	margin-right: 50px;
}

.tempo-simulacao label {
	font-weight: bold;
	font-size: 1.3em;
}

.align-left{
	align: left;
}

/* Tamanhos */
.tam_p {
	width: 64px !important; 
}

.tam_m {
	width: 128px !important; 
}

.tam_g {
	width: 256px !important; 
}

.btn {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 5px;
}

.listColor .ui-selectonemenu-items-wrapper ul li:nth-child(2){
	color: blue;                                            
	font-weight: bold;                                      
}                                                           
.listColor .ui-selectonemenu-items-wrapper ul li:nth-child(3){
	color: orange;                                          
	font-weight: bold;                                      
}                                                           
.listColor .ui-selectonemenu-items-wrapper ul li:nth-child(4){
	color: pink;                                            
	font-weight: bold;                                      
}                                                           
.listColor .ui-selectonemenu-items-wrapper ul li:nth-child(5){
	color: red;                                             
	font-weight: bold;                                      
}                                                           
.listColor .ui-selectonemenu-items-wrapper ul li:nth-child(6){
	color: green;
	font-weight: bold;
}

.SFFFF00 label {
	color: #FFFF00 !important;
	font-weight: bold !important;
}

.S0000FF label {
	color: #0000FF !important;
	font-weight: bold !important;
}

.SFF8000 label {
	color: #FF8000 !important;
	font-weight: bold !important;
}

.SFF00FF label {
	color: #FF00FF !important;
	font-weight: bold !important;
}

.SFF0000 label {
	color: #FF0000 !important;
	font-weight: bold !important;
}

.S00FF00 label {
	color: #00FF00 !important;
	font-weight: bold !important;
}

.min-width750px{
	min-width: 750px;
}